<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/c79f5314-c530-4976-9873-8438768a24f3/v3/index.json" />
  </packageSources>
</configuration>